@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

/* Table of Contents
RESET
VARIABLES
GENERAL & UTILITIES
LAYOUT */

/* RESET */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}


/* VARIABLES */
:root {
	--accent-color: #119dee;
    --side-bar-fg-color: white;
    --top-bottom-bar-bg: white;
    --main-bg-color: #e2e8f0;
    --card-color: white;
    --main-font: "Roboto", sans-serif;
}

/* GENERAL & UTILITIES */
svg {
    width: 1.5rem;
    display: inline-block;
    margin-right: 0.7rem;
}

button {
    background-color: transparent;
    border: none;
    width: fit-content;
    height: fit-content;
}

.profile-pic {
    width: 3rem;
    border-radius: 2rem;
}

.big-profile-pic {
    width: 4rem;
    border-radius: 3rem;
    margin-right: 1rem;
}

/* LAYOUT */
body {
	display: grid;
	grid-template-columns: 20% 80%;
    font-family: var(--main-font);
    height: 100vh;
}

aside {
	background-color: var(--accent-color);
    padding: 1rem;
    position: sticky;
    top: 0px;
}

aside p,
aside h1 {
    display: inline-block;
}

#title,
aside a {
    display: flex;
    align-items: center;
    font-size: large;
}

#title > svg {
    width: 3rem;
}

aside,
#sections-nav > a,
#other-nav > a {
    color: var(--side-bar-fg-color);
    text-decoration: none;
    font-weight: 600;
}

aside > div {
    margin-bottom: 2rem;
}

main {
    display: grid;
    grid-template-rows: 70px 100px 1fr;
}

#top-nav,
header {
    background-color: var(--top-bottom-bar-bg);
    padding: 1rem 2rem;
}

#top-nav {
    display: grid;
    grid-template-columns: 7fr 1fr 2fr;
    align-items: center;
}

#search-bar {
    display: grid;
    grid-template-columns: 70% 10% 20%;
    align-items: center;
}

#search-bar input {
    border-radius: 1.5rem;
    border: none;
    background-color: var(--main-bg-color);
    height: 50%;
    padding: 1rem;
}

#reminder-icon {
    justify-self: right;
}

#profile {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.1rem;
}

#profile .profile-pic {
    margin-right: 1rem;
}

header {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    align-items: center;
}

#user-info {
    display: flex;
}

#user-info p {
    font-weight: 700;
    padding-bottom: 0;
}

header button {
    width: 6rem;
    height: 2.5rem;
    border-radius: 2rem;
    background-color: var(--accent-color);
    border: none;
    color: var(--top-bottom-bar-bg);
    font-weight: 500;
}

#main-section {
    background-color: var(--main-bg-color);
    padding: 2rem 1rem;
    height: calc(100vh - 170px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "projects projects announcement"
        "projects projects trending"
}

#main-section h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
}

#project-cards-grid,
#announcements > div,
#trending > div {
    height: 100%;
    overflow: scroll;
}

.project-card,
#announcements div,
#trending > div {
    background-color: var(--card-color);
    border-radius: 0.5rem;
    padding: 1.8rem 1.5rem;;
}

#projects {
    grid-area: projects;
}

#project-cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem 1rem;
}

.project-card {
    height: 13rem;
}

.project-card h3 {
    font-size: 1.1rem;
}

.project-card p {
    height: 60%;
}

.project-card nav {
    text-align: right;
}

#announcements {
    grid-area: announcement;
}

#trending {
    grid-area: trending;
}